! Cursor theme
xcursor.theme:              Vanilla-DMZ
xcursor*size: 48

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End: \033[4~

URxvt.scrollBar:          off
URxvt.secondaryScreen:    1
URxvt.secondaryScroll:    0
URxvt.font: xft:Droid Sans Mono:autohint=true:antialias=true:size=5
URxvt.selectToClipboard:  true
URxvt.saveLines:          10000
URxvt.cursorBlink:        true
URxvt.urlLauncher:        /usr/bin/chromium
URxvt.matcher.button:     1
URxvt.tabbed.tabbar-fg:   8
URxvt.tabbed.tabbar-bg:   0
URxvt.tabbed.tab-fg:      2
URxvt.tabbed.tab-bg:      0
URxvt.tabbed.new-button:  no
URxvt.tabbed.title:       no
URxvt.visualBell:         true

!URxvt.transparent: true
!URxvt.shading: 10
URxvt.depth: 32
! --- special colors ---

*background: #0d1926
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #0e0e0e

! bright_black
*color8: #272727

! red
*color1: #a62f31

! bright_red
*color9: #db8183

! green
*color2: #31a62f

! bright_green
*color10: #83db81

! yellow
*color3: #a6a42f

! bright_yellow
*color11: #dbda81

! blue
*color4: #2f31a6

! bright_blue
*color12: #8183db

! magenta
*color5: #a42fa6

! bright_magenta
*color13: #da81db

! cyan
*color6: #2fa6a4

! bright_cyan
*color14: #81dbda

! white
*color7: #d9d9d9

! bright_white
*color15: #ffffff


! xscreensaver
xscreensaver.fade:        false
xscreensaver.unfade:      false

! Font hinting
Xft.dpi:        192
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintfull
