! Cursor theme
xcursor.theme:              Vanilla-DMZ

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End: \033[4~

URxvt.scrollBar:          off
URxvt.secondaryScreen:    1
URxvt.secondaryScroll:    0
URxvt.font: xft:Droid Sans Mono:autohint=true:antialias=true:size=10
URxvt.selectToClipboard:  true
URxvt.saveLines:          10000
URxvt.cursorBlink:        true
URxvt.urlLauncher:        /usr/bin/chromium
URxvt.matcher.button:     1
URxvt.tabbed.tabbar-fg:   8
URxvt.tabbed.tabbar-bg:   0
URxvt.tabbed.tab-fg:      2
URxvt.tabbed.tab-bg:      0
URxvt.tabbed.new-button:  no
URxvt.tabbed.title:       no
URxvt.visualBell:         true

!URxvt.transparent: true
!URxvt.shading: 10
URxvt.depth: 32
! Tango color palette
URxvt*background:         [90]#002b36
URxvt*foreground:         #657b83
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1
!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3


! xscreensaver
xscreensaver.fade:        false
xscreensaver.unfade:      false

! Font hinting
Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintfull
